body,
button,
select {
  font-family: "Fira Code", monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  text-align: center;
  padding: 20px;
}

.header__text {
  text-align: center;
  padding: 20px;
}

.keyboard {
  display: flex;
  justify-content: center;
}

.keyboard__key {
  height: 30vh;
  width: 8vw;
  background: transparent;
  border: none;
  border: solid 1px black;
  border-right: none;
  transition: background-color 0.2s ease-out;
  user-select: none;
  font-size: 20px;
}

.keyboard__key:focus {
  outline: 0;
  background-color: turquoise;
}

.keyboard__key--Cs {
  background: black;
  color: white;
}

.keyboard__key--Ds {
  background: black;
  color: white;
}

.keyboard__key--Fs {
  background: black;
  color: white;
}

.keyboard__key--Gs {
  background: black;
  color: white;
}

.keyboard__key--As {
  background: black;
  color: white;
}

.keyboard__key:last-of-type {
  border-right: solid 1px black;
}

.envelope {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.envelope__text {
  text-align: center;
}

.envelope__sliders-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.envelope__slider {
  display: flex;
}

.envelope__slider * {
  margin-right: 12px;
}

.envelope__value {
  margin-right: 0;
}

.envelope__slider-input {
  width: 20vw;
}

.oscillator {
  margin-top: 40px;
}
